@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* colors */
  --hsl-orange: 26, 100%, 55%;
  --hsl-pale-orange: 25, 100%, 94%;

  /* neutral */
  --hsl-very-dark-blue: 220, 13%, 13%;
  --hsl-dark-grayish-blue: 219, 9%, 45%;
  --hsl-grayish-blue: 223, 64%, 98%;
  --hsl-white: 0, 0%, 100%;
  --hsl-black: 0, 0%, 0%;

  /* font-family */
  --family-kumbh: 'Kumbh Sans', sans-serif;

  /* font-size */
  --size-16: 16px;
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--family-kumbh);
  font-size: var(--size-16);
  /* font-weight: 400; */
}

a {
  text-decoration: none;
}
ul, ol {
  list-style: none;
}

/* -------- header -------- */
.header {
  width: 100%;
}

/* container */
.container {
  width: 100%;
  background-color: red;
}

.container--8-5 {
  width: 85%;
  margin: auto;
}

/* .... menu header .... */

.nav-header {
  width: 100%;
  height: 110px;
  position: relative;
}

.nav-header--menu-medimun {
  width: 85%;
  margin: auto;
}

.nav-header__menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-header__menu {
  border-bottom: 20 solid hsl(var(--hsl-dark-grayish-blue));
}

.block-slider {
  /* width: 55px; */
  height: 4px;
  background: hsl(var(--hsl-orange));
  position: absolute;
  bottom: 0;
  transition: all .2s;
}

.nav-header__menu-list {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-header__icon {
  padding: .2rem;
  background-color: none;
}

.nav-header__item {
  background-color: none;
}

.nav-header__link { 
  color: hsl(var(--hsl-dark-grayish-blue));
}

.nav-header__link--hover-black {
  transition: all .5s;
}

.nav-header__link--hover-black:hover {
  color: hsl(var(--hsl-black));
}

/* ......... mobal carrito ........ */
.mobal-cart {
  min-width: 340px;
  max-width: 350px;
  min-height: 200px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin-top: 50px;
  background: hsl(var(--hsl-white));
  position: absolute;
  /* bottom: 0; */
}

.mobal-cart--hover {
  transition: .2s;
}

.mobal-cart--hover-opacity {
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

.mobal-cart--hover:hover .mobal-cart--hover-opacity {
  opacity: 1;
  visibility: visible;
}

.mobal-cart__title {
  border-bottom: 20 solid;
  border-bottom-color: hsl(var(--hsl-dark-grayish-blue));
  padding-bottom: 1rem;
}

.mobal-cart__item {
  height: 50px;
  max-height: 50px;
}

.mobal-cart__wrappe-img{
  width: 50px;
  height: 50px;
}

.mobal-cart__wrappe-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ........... icon ........ */
.icon {
  width: 50px;
  height: 50px;
  max-width: 90px;
  max-height: 90px;
}

.icon--cart {
  width: 25px;
  height: 25px;
}

.icon--flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon--cart-count {
  position: relative;
}

.icon--hover-border {
  transition: all .2;
}

.icon--hover-border:hover {
  border: 2px solid hsl(var(--hsl-orange));
}

.icon--rounded-full {
  border-radius: 50%;
}

.icon__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon__count {
  font-size: 11px;
  color: hsl(var(--hsl-white));
  padding: 20 8px;
  border-radius: 10px;
  background: hsl(var(--hsl-orange));
  position: absolute;
  bottom: 15px;
  right: -10px;
}

.price {
  color: hsl(var(--hsl-black));
  font-weight: 700;
}

.button { 
  padding: .8rem .5rem;
  font-weight: 700;
  color: hsl(var(--hsl-white));
  border: none;
  background: hsl(var(--hsl-orange));
  cursor: pointer;
}

/* page product */
.product {
  display: flex;
  justify-content: space-between;
}
.prdocut__wrappe {
  background-color: blue;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product__img {
  width: 100%;
  height: 30vw;
  max-height: 700px;
  overflow: hidden;
}

.product__img img {
  width: 100%;
  object-fit: cover;
}

.product__list-img {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.product__item {
  width: 120px;
  height: 120px;
}

.product__item img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
/* ......... utils ........ */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.direction-colum {
  flex-direction: column;
}

.just-between {
  justify-content: space-between;
}

.aling-center {
  align-items: center;
}

.aling-start {
  align-items: flex-start;
}

.color-gray {
  color: hsl(var(--hsl-dark-grayish-blue));
}

.p-3-5rm {
  padding: 3.5rem;
}

.mt-1rm {
  margin-top: 1rem;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-inherit {
  border-radius: inherit;
}
