@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* colors */
  --hsl-orange: 26, 100%, 55%;
  --hsl-pale-orange: 25, 100%, 94%;

  /* neutral */
  --hsl-very-dark-blue: 220, 13%, 13%;
  --hsl-dark-grayish-blue: 219, 9%, 45%;
  --hsl-grayish-blue: 223, 64%, 98%;
  --hsl-white: 0, 0%, 100%;
  --hsl-black: 0, 0%, 0%;

  /* font-family */
  --family-kumbh: 'Kumbh Sans', sans-serif;

  /* font-size */
  --size-16: 16px;
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--family-kumbh);
  font-size: var(--size-16);
  /* font-weight: 400; */
}

a {
  text-decoration: none;
}
ul, ol {
  list-style: none;
}

/* -------- header -------- */
.header {
  width: 100%;
  padding: .2rem 1rem;
}

/* .... menu header .... */

.nav-header {
  width: 100%;
  height: 110px;
}

.nav-header--medimun {
  width: 85%;
  margin: auto;
}

.nav-header__menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-header__menu {
  border-bottom: 1px solid hsl(var(--hsl-dark-grayish-blue));
}

.block-slider {
  width: 55px;
  height: 4px;
  background: hsl(var(--hsl-orange));
  position: absolute;
  bottom: 0;
}

.nav-header__menu-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-header__link { 
  color: hsl(var(--hsl-dark-grayish-blue));
}

/* icon */
.icon {
  width: 50px;
  height: 50px;
  max-width: 90px;
  max-height: 90px;
}

.icon__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon--hover-border {
  transition: all .2;
}

.icon--hover-border:hover {
  border: 1px solid hsl(var(--hsl-orange));
}

