@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* colors */
  --hsl-orange: 26, 100%, 55%;
  --hsl-pale-orange: 25, 100%, 94%;

  /* neutral */
  --hsl-very-dark-blue: 220, 13%, 13%;
  --hsl-dark-grayish-blue: 219, 9%, 45%;
  --hsl-grayish-blue: 223, 64%, 98%;
  --hsl-white: 0, 0%, 100%;
  --hsl-black: 0, 0%, 0%;

  /* font-family */
  --family-kumbh: 'Kumbh'

  /* font-size */
  --size-16: 16px
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}