@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* colors */
  --hsl-yellow: (47, 88%, 63%);
  --hsl-white: (0, 0%, 100%);
  --hsl-grey: (0, 0%, 50%);
  --hsl-black: (0, 0%, 7%)

  /* font-size */
  --font-size-16: 16px;

  /* font-family */
  --font-family-figtree: 'Figtree'
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
